* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8dab6;
    color: #000000;
}

.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.encabezado {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.encabezado-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.encabezado h1 {
    margin: 0;
}

.encabezado p {
    margin: 5px 0 0;
}

.menu {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.menu a {
    color: white;
    text-decoration: none;
    background-color: #b90303;
    padding: 10px 14px;
    border-radius: 8px;
}

.menu a:hover {
    background-color: #f7f6f4;
    color: #000000;
}

.seccion {
    padding: 50px 0;
}

.presentacion {
    background-color: #b3b0ae;
}

.presentacion-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.texto-presentacion {
    flex: 1 1 320px;
}

.imagen-principal {
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
}

.boton {
    display: inline-block;
    background-color: #b90303;
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 8px;
    margin-top: 10px;
}

.boton:hover {
    background-color: #efeeec;
    color: #000000;
}



.promocion {
    background-color: #b3b0ae;
}

.promocion-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.boton-secundario {
    background-color: #b90303;
}

.contacto {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}

.pie {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 18px;
}

.pie p {
    margin: 0;
}

.tarjetas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta{
    background-color: #ffffff;
    width:33%;
    max-width:320px;
    padding:20px;
    border-radius:15px;
}

.tarjeta  h3{
    margin-top: 0px;
}

@media(max-width: 700px){
    .encabezado-contenido,
    .presentacion-contenido,
    .promocion-contenido{
        flex-direction:column;
        align-items: flex-start;
    }
    .menu a{
        width:100%;
        text-align:center;
    }
    .tarjeta{
        width:100%
    }
    .seccion{
        padding:35px;
    }

}